@model IEnumerable<point3ri_Alpha_0._51.Models.Rezervacija>

@{
    ViewBag.Title = "Index";
}

<!-- begin:header -->
<section id="header" style="background-image: url(/Content/Tema/img/admin.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote>
                    <p>Admin page</p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- end:header -->

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanTermini.Termin)
        </th>
        <th>
            @Html.DisplayName("Oprema")
        </th>
        <th>
            @Html.DisplayName("Prostorija")
        </th>
        <th>
            @Html.DisplayName("Datum rezervacije")
        </th>
        <th>
            @Html.DisplayName("Vrijeme rezerviranja")
        </th>
        <th>
            @Html.DisplayName("Rezervacija aktivna")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanTermini.Termin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oprema.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prostorija.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumRezervacije)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrijemeRezerviranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RezervacijaAktivna)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Izbriši", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
