@model IEnumerable<point3ri_Alpha_0._51.Models.PrijavaLosegStanjaOpreme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- begin:header -->
<section id="header" style="background-image: url(/Content/Tema/img/admin.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote>
                    <p>Admin page</p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- end:header -->


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rezervacija.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rezervacija.Prostorija.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rezervacija.Oprema.Naziv)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rezervacija.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rezervacija.Prostorija.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rezervacija.Oprema.Naziv)
        </td>

        <td>
            @Html.ActionLink("Rješeno", "Rjeseno", new { id=item.ID }) |
        </td>
    </tr>
}

</table>
