@model point3ri_Alpha_0._51.Models.Rezervacija

@{
    ViewBag.Title = "CreateRacunala";
}

<!-- begin:header -->
<section id="header" style="background-image: url(/Content/Tema/img/IMG_0937.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote>
                    <p>Rezervacije računala</p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- end:header -->


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="margin-left:35%;margin-right:35%;position:center">
        <div class="form-horizontal">
            <h3>Rezervacija termina za računala</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div @*style="width:30%;margin-left:20px"*@>
                <div class="form-group">
                    @Html.LabelFor(model => model.DatumRezervacije, "Datum:", htmlAttributes: new { @id = "DatumRezervacijeID", @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="DatumiContainer">
                            @Html.Action("DatumiView")
                        </div>
                        @Html.ValidationMessageFor(model => model.DatumRezervacije, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProstorijaID, "Prostorija:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="ProstorijaContainer">
                            @Html.Action("ProstorijaRacunalaView")
                        </div>
                        @Html.ValidationMessageFor(model => model.ProstorijaID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OpremaID, "Oprema:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="OpremaContainer">
                            @Html.Action("OpremaView")
                        </div>
                        @Html.ValidationMessageFor(model => model.OpremaID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DanTerminiID, "Termin:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="DanTerminiContainer">
                            @Html.Action("DanTerminView")
                        </div>
                        @Html.ValidationMessageFor(model => model.DanTerminiID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Trajanje", "Trajanje:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="TrajanjeContainer">
                            @Html.Action("TrajanjeView")
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Rezerviraj" class="btn btn-default" style="float:right" />
                </div>
            </div>
        </div>
    </div>
}

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
