@model point3ri_Alpha_0._51.Models.Rezervacija

@{
    ViewBag.Title = "CreateStolovi";
}

<!-- begin:header -->
<section id="header" style="background-image: url(/Content/Tema/img/tth12.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote>
                    <p>Rezervacije ping-pong stolova</p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- end:header -->


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="margin-left:30%;margin-right:30%">
        <div class="form-horizontal">
            <h3>Rezervacija termina za stolni tenis</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DatumRezervacije, "Datum", htmlAttributes: new { @id = "DatumRezervacijeID", @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="DatumiContainer" style="padding-left:10px">
                            @Html.Action("DatumiView")
                        </div>
                        @Html.ValidationMessageFor(model => model.DatumRezervacije, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProstorijaID, "Prostorija", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="ProstorijaContainer" style="padding-left:10px">
                            @Html.Action("ProstorijaStoloviView")
                        </div>
                        @Html.ValidationMessageFor(model => model.ProstorijaID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OpremaID, "Opremu", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="OpremaContainer" style="padding-left:10px">
                            @Html.Action("OpremaView")
                        </div>
                        @Html.ValidationMessageFor(model => model.OpremaID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DanTerminiID, "Termin", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="DanTerminiContainer" style="padding-left:10px">
                            @Html.Action("DanTerminView")
                        </div>
                        @Html.ValidationMessageFor(model => model.DanTerminiID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Trajanje", "Trajanje", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div id="TrajanjeContainer" style="padding-left:10px">
                            @Html.Action("TrajanjeView")
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Rezerviraj" class="btn btn-default" style="float:right" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
