@model point3ri_Alpha_0._51.Models.Rezervacija

@{
    ViewBag.Title = "Delete";
    Layout = "~/_Tema.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanTermini.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanTermini.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oprema.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oprema.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRezervacije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRezervacije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProstorijaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProstorijaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrijemeRezerviranja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrijemeRezerviranja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RezervacijaAktivna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RezervacijaAktivna)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
