@model point3ri_Alpha_0._51.Models.Rezervacija

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanTermini.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanTermini.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oprema.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oprema.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRezervacije)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRezervacije)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProstorijaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProstorijaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrijemeRezerviranja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrijemeRezerviranja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RezervacijaAktivna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RezervacijaAktivna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
