@model IEnumerable<point3ri_Alpha_0._51.Models.Rezervacija>

@{
    ViewBag.Title = "RezervacijeIndex";
}

<!-- begin:header -->
<section id="header" style="background-image: url(/Content/Tema/img/IMG_0937.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <blockquote>
                    <p>Aktivne rezervacije</p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<!-- end:header -->

<table class="table" style="margin-left:2%;width:100%;margin-right:5%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanTermini.Termin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oprema.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prostorija.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumRezervacije)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrijemeRezerviranja)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanTermini.Termin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oprema.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prostorija.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumRezervacije)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrijemeRezerviranja)
        </td>
        <td>
            @Html.ActionLink("Otkaži", "Otkazi", new { id=item.ID }) |
        </td>
        <td>
            @Html.ActionLink("Prijava kvara opreme", "PrijavaOpreme", new { id = item.ID })
        </td>
    </tr>
}

</table>
